<?xml version="1.0" ?>
<configuration>
    <package_name>clap</package_name>
    <repository_url>https://github.com/clap-rs/clap</repository_url>
    <test_repo_mode>false</test_repo_mode>
    <package_version>4.0.0</package_version>
    <output_filename>clap_deps.png</output_filename>
</configuration>